/* Tabbed navigation */

.store_page_wpsc_ce h2 .nav-tab,
.wpsc-product_page_wpsc_ce h2 .nav-tab {
	font-size: 16px;
	margin-right:0;
}

.store_page_wpsc_ce h2.nav-tab-wrapper,
.wpsc-product_page_wpsc_ce h2.nav-tab-wrapper {
	padding-left:7px;
}

/* Export */

.store_page_wpsc_ce #export-type th,
.wpsc-product_page_wpsc_ce #export-type th {
	padding:0;
}
.store_page_wpsc_ce #export-type td,
.wpsc-product_page_wpsc_ce #export-type td {
	padding:0;
}
.store_page_wpsc_ce .postbox .submit,
.wpsc-product_page_wpsc_ce .postbox .submit {
	padding:0.3em 0;
}
.store_page_wpsc_ce textarea#export_log,
.wpsc-product_page_wpsc_ce textarea#export_log {
	font:12px Consolas, Monaco, Courier, monospace;
	width:100%;
	height:200px;
}
.store_page_wpsc_ce .separator,
.wpsc-product_page_wpsc_ce .separator {
	border-bottom:1px solid #dfdfdf;
}

.store_page_wpsc_ce .overview-left,
.wpsc-product_page_wpsc_ce .overview-left {
	float:left;
	width:73%;
}
.store_page_wpsc_ce .overview-right,
.wpsc-product_page_wpsc_ce .overview-right {
	float:left;
	width:24%;
}
	.store_page_wpsc_ce .overview-right h3,
	.wpsc-product_page_wpsc_ce .overview-right h3 {
		font-size:16px;
	}
		.store_page_wpsc_ce .overview-right h3 span,
		.wpsc-product_page_wpsc_ce .overview-right h3 span {
			float:right;
			font-size:11px;
			font-weight:normal;
		}
	.store_page_wpsc_ce .overview-right p,
	.wpsc-product_page_wpsc_ce .overview-right p {
		font-size:12px;
		color:#333;
		line-height:1.6em;
	}
	.store_page_wpsc_ce .overview-right ul,
	.wpsc-product_page_wpsc_ce .overview-right ul {
		font-size:12px;
		line-height:1.2em;
	}

/* Support - Donate / Rate */

.store_page_wpsc_ce .support-donate_rate,
.wpsc-product_page_wpsc_ce .support-donate_rate {
	display:block;
	float:right;
}
.store_page_wpsc_ce .support-donate_rate p,
.wpsc-product_page_wpsc_ce .support-donate_rate p {
	margin-top:16px;
}
.store_page_wpsc_ce .support-donate_rate .star,
.wpsc-product_page_wpsc_ce .support-donate_rate .star {
	vertical-align:bottom;
	display:inline-block;
	width:17px;
	height:17px;
	background:url('images/star.png') no-repeat;
}
.store_page_wpsc_ce .support-donate_rate span,
.wpsc-product_page_wpsc_ce .support-donate_rate span {
	display:none;
}
